@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .navbar_contacts {
    display: none;
  }
  .navbar_button {
    font-size: 10px;
    font-size-font-weight: 400;
    font-size-padding: 14px 26px;
  }
}

.button {
  font-family: 'Museo Sans Bold';
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 19px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  text-align: center;
  font-family: 'Museo Sans Bold';
  max-width: 500px;
  font-weight: 400;
  line-height: 45px;
}

.section-subtitle {
  font-size: 16px;
  display: inline-block;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  font-family: 'Museo Sans Light';
  outline: none;
}

.arrow_left:hover, .arrow_right:hover {
  cursor: pointer;
}

/*Импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.navbar__adress {
  display: block;
}

.navbar__contacts {
  padding-right: 30px;
}

.navbar__button {
  margin-right: 30px;
}

.navbar__phone {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Museo Sans Bold';
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

/*Импорт стилей главного экрана*/
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
  font-family: 'Museo Sans Bold';
}

.hero-text__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 48px;
  display: inline-block;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  margin-bottom: 25px;
  display: flex;
  width: 100%;
  align-items: center;
}

.hero-list__text {
  display: inline-block;
  padding-left: 30px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.hero-list__img {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 30px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 13px;
  }
  .hero-text__subtitle {
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__text {
    font-size: 12px;
    padding-left: 15px;
    line-height: 1.4;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
}

/*импорт шривтов*/
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Импорт offer*/
.offer {
  background: url(../img/offer/offer_bg.png) no-repeat;
  background-position: center right;
  background-size: contain;
  padding: 84px 0px 92px 0px;
  position: relative;
}

.offer::before {
  content: '';
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  padding-bottom: 0;
  max-width: 360px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 30px;
}

.offer__contacts {
  display: flex;
  justify-content: space-between;
}

.offer__text {
  display: block;
}

.offer__number {
  display: block;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
  }
  .offer__contacts {
    flex-wrap: wrap;
  }
  .offer__contacts:first-child {
    margin-bottom: 27px;
  }
  .offer__text {
    margin-bottom: 27px;
  }
  .offer__text, .offer__number {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

/*Импорт портфолио там где слайдер*/
.portfolio {
  background: #f5f5f5 url(../img/portfolio/portfolio-pattern.png) repeat-y;
  background-size: 50%;
}

.portfolio__title {
  font-weight: 400;
  line-height: 45px;
  max-width: 500px;
  margin: auto;
  padding-bottom: 60px;
}

.portfolio__arrow {
  padding: 68px 0 0 0;
  display: flex;
  margin: auto;
  justify-content: space-between;
  max-width: 120px;
}

.slider-image {
  margin: auto;
}

/*Импорт прайс*/
.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin: auto;
  margin-bottom: 58px;
  text-align: center;
  display: block;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  border: 1px solid #e8e8e8;
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:after {
  opacity: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  padding-bottom: 30px;
}

.card__picture {
  display: block;
}

.card__image {
  position: relative;
  display: block;
}

.card__image:after {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.2s;
}

.card__text {
  align-items: center;
  text-align: center;
  padding: 40px 0;
  font-size: 16px;
}

.card__link {
  position: relative;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  display: inline-block;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: -1;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*Импорт бриф*/
.brif {
  background: url(../img/brif/brif-bg-orange.jpg), url(../img/brif/brif-bg.jpg);
  background-position: center left, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: flex;
}

.brif__interview {
  flex-basis: 50%;
}

.brif__form {
  flex-basis: 50%;
  padding-left: 230px;
  text-align: center;
}

.brif__interview {
  padding-right: 70px;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  display: inline-block;
  width: 100%;
  max-width: 370px;
  margin-bottom: 30px;
}

.interview__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  font-size: 16px;
  display: block;
  margin: 50px 0 90px 0;
  font-weight: 400;
  line-height: 45px;
}

.interview-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.interview-list__item {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-bottom: 26px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  border: 2px solid #333333;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 32px;
}

.interview-list__text {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.form__title {
  margin-left: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  font-size: 16px;
  display: block;
  margin: 50px 0 50px 0;
  font-weight: 400;
  line-height: 45px;
}

.form__description {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 768px) {
  .brif {
    background: url(../img/brif/brif-bg-orange.jpg), url(../img/brif/brif-bg.jpg);
    background-position: top center, bottom center;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
    padding-top: 40px;
  }
  .brif-block {
    flex-direction: column;
  }
  .brif__form {
    padding-left: 0px;
  }
  .interview__title {
    margin: 16px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.35px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .interview__subtitle {
    display: block;
    margin: 27px 0 34px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.88px;
  }
  .interview__text {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    display: block;
  }
  .form {
    align-items: center;
  }
  .form__title {
    margin-top: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.35px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .form__subtitle {
    display: block;
    margin: 27px 0 34px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.88px;
  }
}

.error {
  border: 1px solid red;
}

/*Импорт footer*/
.map {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  position: relative;
}

.contacts {
  flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts-block {
  display: flex;
  justify-content: flex-end;
}

.contacts__title {
  font-size: 24px;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 100px;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__item {
  padding-bottom: 39px;
  display: flex;
  align-items: flex-start;
}

.contacts-list__icon {
  widows: 20px;
  height: 20px;
  margin-right: 23px;
  text-align: center;
}

.contacts-list__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.contacts-list__link {
  text-decoration: none;
  color: #333333;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .map {
    width: 100%;
    position: inherit;
  }
  .contacts {
    padding-left: 0px;
  }
  .contacts-block {
    justify-content: center;
  }
  .footer, .container {
    order: -1;
  }
}

/*Импорт модальное окно*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */